$mainFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: Menlo, Monaco, Consolas, 'Courier New', monospace;

$gray-text:  #404040;
$light-text: lighten($gray-text, 15);
$med-gray:   #ccc;
$light-gray: #f9f9f9;

$blue:      #119EE7;
$dark-blue: #08c;
