<h1>Edit idea</h1>

<form id="edit-idea" name="idea">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="votes"> votes:</label>
    <input type="text" name="votes" id="votes" value="<%= votes %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Idea" />
  </div>

</form>

<a href="#/index">Back</a>