<header class="poll-description nicebox">
  <div class="nicebox-head">
    <h1>Where should we go out to dinner?</h1>
  </div>
</header>


<section class="board">
  <div class="sidebar">

    <div class="add-comment">
      <input type="text" placeholder="Add a comment">
      <a href="#" class="btn btn-blue">Send</a>
    </div>

    <div class="comment">
      <p class="comment-name">Andrew</p>
      <p class="comment-text">Hello World! This is a comment.</p>
    </div>

    <div class="comment">
      <p class="comment-name">Rodney</p>
      <p class="comment-text">I DISAGREE WITH YOU BECAUSE OF REASONS</p>
    </div>

  </div><!-- .sidebar -->


  <div id="ideas" class="ideas">
    Loading...
  </div><!-- .ideas -->

</section>



<section class="add-idea">
  <div class="container">
    <div class="row">

      <div class="span-8 offset-4">
        <form id="form-new-idea" action="#">
          <label for="name">Name</label>
          <input id="input-idea-username" type="text" placeholder="Enter your name">

          <label for="idea">Idea</label>
          <input id="input-idea-title" type="text" placeholder="Enter your idea">

          <input type="submit" class="btn btn-blue btn-large" value="Add Idea">
        </form>
      </div>

    </div>
  </div>
</section>
<script type='text/template' id='template-socket-connection'></script>
<script type='text/template' id='template-socket-message-list'></script>
<script type='text/template' id='template-socket-message'></script>
