//-- BASE GRID DEFINITIONS
//------------------------------------

//---------------------
//-- 1100px grid
//---------------------

.container {
  @include clearfix;
  margin: 0 auto;
  width: $container-width;
}

.row {
  @include clearfix;
  float: left;
  margin-bottom: 0;

  [class^="span-"] {
    float: left;
    margin-right: $gutter-width;

    &:last-child {
      margin-right: 0;
    }
  }

}

@for $i from 1 through $num-columns {
  // 1-16. Ex: .span-5 { @include width(5) }
  .span-#{$i} { @include width($i); }
}

@for $i from 1 through ($num-columns - 1) {
  // 1-15. Ex: .offset-5 { @include offset(5) }
  .offset-#{$i} { @include offset($i) }
}






// I'll tidy this up later. for now, it's shameless stolen from Bootstrap
.container-fluid {
  @include clearfix;
}

@media (max-width: 767px) {
  .row-fluid {
    width: 100%;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid {
    @include clearfix;
    width: 100%;
    *zoom: 1;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: left;
    //width: 100%;
    min-height: 28px;
    margin-left: 2.762430939%;
    *margin-left: 2.709239449638298%;
    @include border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 99.999999993%;
    *width: 99.9468085036383%;
  }
  .row-fluid .span11 {
    width: 91.436464082%;
    *width: 91.38327259263829%;
  }
  .row-fluid .span10 {
    width: 82.87292817100001%;
    *width: 82.8197366816383%;
  }
  .row-fluid .span9 {
    width: 74.30939226%;
    *width: 74.25620077063829%;
  }
  .row-fluid .span8 {
    width: 65.74585634900001%;
    *width: 65.6926648596383%;
  }
  .row-fluid .span7 {
    width: 57.182320438000005%;
    *width: 57.129128948638304%;
  }
  .row-fluid .span6 {
    width: 48.618784527%;
    *width: 48.5655930376383%;
  }
  .row-fluid .span5 {
    width: 40.055248616%;
    *width: 40.0020571266383%;
  }
  .row-fluid .span4 {
    width: 31.491712705%;
    *width: 31.4385212156383%;
  }
  .row-fluid .span3 {
    width: 22.928176794%;
    *width: 22.874985304638297%;
  }
  .row-fluid .span2 {
    width: 14.364640883%;
    *width: 14.311449393638298%;
  }
  .row-fluid .span1 {
    width: 5.801104972%;
    *width: 5.747913482638298%;
  }
}

@media (min-width: 1200px) {
  .row-fluid {
    @include clearfix;
    width: 100%;
    *zoom: 1;
  }

  .row-fluid [class*="span"] {
    @include border-box;
    display: block;
    float: left;
    //width: 100%;
    min-height: 28px;
    margin-left: 1.564102564%;
    *margin-left: 1.510911074638298%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
  }
  .row-fluid .span10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
  }
  .row-fluid .span9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
  }
  .row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
  }
  .row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
  }
  .row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
  }
  .row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
  }
  .row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
  }
  .row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }
  .row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
  }
  .row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
  }
}
