.poll-title {
  .nicebox-head {
    padding: 25px;
  }

  h1 {
    float: left;
  }

  .poll-pin {
    float: right;
    margin-top: 10px;
    font-size: 2.2em;

    .blue {
      font-weight: bold;
    }
  }

  @media (max-width: 767px) {
    padding: 5px;

    .nicebox-head { padding: 10px; }

    .poll-pin {
      float: none;
    }
  }
}


.board {

}

section {
  clear: both;
  width: 100%;
}

// SIDEBAR + COMMENTS
// ----------------------------------
.sidebar,
#ideas {
  float: left;
}

.sidebar {
  @include border-box;
  background-color: $gray-text;
  padding: 20px 0;

  .btn {
    float: right;
  }

  .add-comment,
  .comment {
    padding: 0 10px;
  }

  .add-comment {
    // Form container
    @include clearfix;
    margin-bottom: 15px;
  }

  .comment {
    color: #E6E6E6;
    border-top: 1px solid #E6E6E6;
    padding: 10px 5px;

    &:last-of-type {
      border-bottom: 1px solid #E6E6E6;
    }

    .comment-name {
      color: lighten($blue, 15);
      font-weight: bold;
      margin-bottom: 5px;
    }

    .comment-text {

    }
  }
}



// MAIN IDEA BOARD
// ----------------------------------
#ideas {
  margin-top: 25px;
}

.idea {
  @extend .whitebox;
  margin-bottom: 15px;

  .idea-title {
    color: $light-text;
  }

  .votes-container {
    float: right;

    .vote-count {
      font-size: 1.5em;
      font-weight: bold;
      display: inline-block;
      margin-top: 5px;
    }


    // VOTE-ARROWS
    .vote-arrow {
      margin-right: 10px;
      float: left;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
    padding: 10px !important;
    width: 100% !important;
  }
}




// ADD IDEA
// ----------------------------------
.add-idea {
  padding: 45px 0;

  label {
    color: $gray-text;
    font-size: 1.2em;
  }

  input {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}
