#new-poll-form,
#join-poll-form {
  h2 {
    color: lighten($gray-text, 25);
    margin-bottom: 25px;
  }

  input:not([type="submit"]) {
    &:focus {
      outline: none;
    }
  }

  h3 {
    margin-bottom: 25px;

  }

  input:not([type="submit"]) {
    &:focus {
      outline: none;
    }
  }

  .btn {
    width: 100%;
  }

  @media (max-width: 630px) {
    text-align: center;
  }
}

#new-poll-form {
  margin-top: 5em;

  input { height: 50px; }

  input:not([type="submit"]) { font-size: 1.6em; }

  .btn { font-size: 1.2em; }

  @media(max-width: 630px) {
    margin-top: 20px;
  }
}

#join-poll-form {
  text-align: center;

  input {
    height: 45px;
  }

  input:not([type="submit"]) { font-size: 1.3em; }

  .btn { font-size: 1.1em; }
}
