@import "helpers/variables";
@import "helpers/mixins";
@import "grid/cheeky";

@import "lib/typography";
@import "lib/buttons";
@import "lib/forms";
@import "lib/tables";

@import "components/polls";
@import "components/ideas";


//-- GENERIC
//------------------------------------
body {
  background-color: $light-gray;
  color: $gray-text;
  font-family: $mainFontFamily;
  font-size: 13px;
}

.whitebox {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: white;
  border: 1px solid $med-gray;
  padding: 15px;
}

.nicebox {
  @include border-radius;
}

.nicebox-head,
.nicebox-body {
  @include clearfix;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 6px #BBB;
  color: $light-text;
  //padding: 30px;
}

.nicebox-body {
  background-color: $light-gray;
  padding: 30px;
}

.blue {
  color: $blue;
}

.error {
  color: red;
}





//-- BLOCKQUOTES
//------------------------------------
blockquote {
  @include border-box;
  border-left: 6px solid lighten($blue, 10);
  font-size: 1.1em;
  line-height: 1.4;
  padding-left: 20px;

  p {
    margin-bottom: 15px;

    &:first-of-type:before,
    &:last-of-type:after {
      content: '"';
    }
  }

  .source {
    font-size: 0.9em;
    font-weight: bold;

    &:before {
      content: "- ";
    }
  }
}


//-- CODE
//------------------------------------
code, pre {
  @include border-radius;
  background-color: $light-gray;
  border: 1px solid $med-gray;
  font-family: $codeFontFamily;
}

code {
  padding: 2px 4px;
}

pre {
  @include border-box;
  margin: 15px 0;
  padding: 5px 0;
}







.separator {
  text-align: center;

  h3 {
    background: transparent;
    color: lighten($light-text, 25);
    margin: 15px 0;
    position: relative;

    @media (min-width: 1100px) {
      margin: 5em 0;

      &:before,
      &:after {
        content: "";
        border-bottom: 1px solid $med-gray;
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 500px;
      }

      &:before { left: 0; }

      &:after { right: 0; }
    }
  }
}
