<h1>New poll</h1>

<form id="new-poll" name="poll">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Poll" />
  </div>

</form>

<a href="#/index">Back</a>